.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .img {
        width: 100%;
        height: auto;
    }
    .bcground {
        position: absolute;
        left: 10%;
        top: 3%;
        right: 10%;
        bottom: 3%;
        background-color: #FBE0DC;
        border-radius: 20px;
        z-index: -1;
    }
}