@font-face {
  font-family: 'Jost';
  src: url('../../../fonts/Jost400Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  &::-webkit-scrollbar {
    display: none;
  }
  font-family: 'Electrolize', sans-serif;
}
body {
  background-color: #f8f8f7;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 52% 48%;
  grid-template-rows: auto;
  .stickyWrapper {
    position: sticky;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 2fr 2fr;
    .firstLine {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: self-end;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .macPawLogo {
        aspect-ratio: 5/1;
      }
      // .themeSwitcher {
      //   display: flex;
      //   flex-flow: row nowrap;
      //   justify-content: center;
      //   align-items: center;
      //   gap: 5px;
      //   .logo {
      //     width: 24px;
      //     height: 24px;
      //   }
      //   input[type='checkbox'] {
      //     height: 0;
      //     width: 0;
      //     visibility: hidden;
      //   }
      //   label {
      //     cursor: pointer;
      //     text-indent: -9999px;
      //     width: 44px;
      //     height: 24px;
      //     background: #fbe0dc;
      //     display: block;
      //     border-radius: 100px;
      //     position: relative;
      //   }
      //   label:after {
      //     content: '';
      //     position: absolute;
      //     top: 4px;
      //     left: 4px;
      //     width: 16px;
      //     height: 16px;
      //     background: #ff868e;
      //     border-radius: 30px;
      //     transition: 0.3s;
      //   }
      //   input:checked + label {
      //     background: #fbe0dc;
      //   }
      //   input:checked + label:after {
      //     left: calc(100% - 5px);
      //     transform: translateX(-100%);
      //   }
      //   label:active:after {
      //     width: 20px;
      //   }
      // }
    }
    .secondLine {
      grid-column: 2/3;
      grid-row: 2/3;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      .greetings {
        color: #1d1d1d;
        font-size: 3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 58px;
      }
      .welcome {
        color: #8c8c8c;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    .thirdLine {
      grid-column: 2/3;
      grid-row: 3/4;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      .navTitle {
        color: #1d1d1d;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        .linkWrapper {
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .linkSVG {
            width: 100%;
            height: auto;
          }
          .link {
            aspect-ratio: 4/1;
            border-radius: 10px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ff868e;
            text-align: center;
            font-size: 0.8rem;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 2px;
            text-decoration: none;
            &:hover {
              background-color: #fbe0dc;
            }
            &:active {
              background-color: #ff868e;
              color: white;
            }
          }
        }
      }
    }
  }
  .outlet {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    margin: 0;
    outline: 0;
  }
}
